#programs-section {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 100px 100px 10px 100px;
}

.program-card {
    max-width: 500px;
    background-color:rgb(235, 239, 244);
}

.program-card img {
    width: 100%;
    height: 250px;
}

.program-content {
    padding: 30px;
}

.up-b1 {
    background-color: rgb(241, 91, 67);
    color: white;
    border: 1px solid rgb(241, 91, 67);
    padding: 20px 30px;
    font-size: larger;
    font-weight: 550;
    margin-right: 10px;
    cursor: pointer;
}

.up-b1:hover {
    background-color: transparent;
    color: rgb(241, 91, 67);
    transition: 0.7s;
}

.program-content h3 {
    color: #263b5c;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
}

.program-content p {
    color: #777;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.program-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.stat {
    display: flex;
    flex-direction: column;
}

.stat .amount {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.stat .amount.goal {
    color: #65C9BB;
}

.stat .amount.raised {
    color: #65C9BB;
}

.stat .label {
    color: #263b5c;
    font-size: 14px;
}

